.botao-sol{
    display: flex;
    position: absolute;
    right: 5%;
    top: 7%;
    border: none;
    background: transparent;
}

.imagem-botao{
    height: 42px;
    width: 42px;
	transition: 0.4s ease-in-out;
}

.botao-sol:hover{
    transform: scale(1.2);
}

.dark-mode{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.6s ease-in-out;
}